.App {
  text-align: center;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 20vmin;
  pointer-events: none;
  justify-content: left;
  margin-left: 20px;
  /* animation-direction: reverse; */
}

.App-header {
  background-color: darkblue;
  height: 200px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  height: 100%;
  margin-bottom: 60px;
  background-color: #c3c3c93b;
  background-image: url("https://www.transparenttextures.com/patterns/egg-shell.png");
}


/* Chat app styles */

.rcw-conversation-container > .rcw-header {
  background-color: #d35400;
}

 
.rcw-message > .rcw-response {
  /* background-color: black; */
  color: rgb(0, 0, 0);
}

.rcw-message-text {
  background-color: #d35400;
}

.rcw-launcher {
  margin-bottom: 75px;
  margin-right: 25px;
  background-color: #D35400;
}