body{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(70, 70, 70);
}

.page-container {
  padding-bottom: 20px;
}
/* Company Details */
.profile {
  padding-bottom: 40px;
  padding-top: 25px;
}

.Company-details{
  position: sticky;
  float: left;
  width: 80%;
}

.details {
  padding-bottom: 0.35em;
  color: rgb(70, 70, 70);
}

.details-email {
  padding-bottom: 0.35em;
  color: rgb(70, 70, 70);
}

.details-email:hover{
  padding-bottom: 0.35em;
  color: darkred;
  font-weight: bolder;
}

.profile-photo {
  width: 100%;
}

/* Dashboard Section */
.dashboard {
  margin-bottom: 40px;
  margin-top: 20px;
}

.dashboard-section {
  margin-top: 20px;
  text-align: center;
  color: #616A6B;
}

/* Reviews Section */
.review {
  margin: 15px;
}

.reviews-section {
  margin-top: 20px;
  text-align: center;
  color: #616A6B;
}
.avg-ratings {
  display: grid;
  flex-direction: row;
}

.avg-rating { 
  display: grid;
  flex-direction: row;
  color:rgb(57, 56, 56);
  font-weight: bolder;
  }

.avg-review-comment {
  padding: 10px;
  line-height: 20px;
  border: 0.5px solid rgb(193, 193, 193);
  border-radius: 25px;
  box-shadow: 8px 8px rgb(54, 54, 54);
  word-wrap: break-word;
}

.review-comment {
  padding: 10px;
}

.review-img {
  width: 200px;
  border-radius: 5px;
}

.reviewer {
  margin: 0px;
  color: #D35400;
  font-style: italic;
}

@media only screen and (max-width: 1200px) {
  .Company-details{
    position: sticky;
    float: left;
    width: 60%;
    flex-wrap: wrap;
  }

  .details {
    padding-bottom: 0.35em;
    flex-wrap: wrap;
  }

  .avg-ratings {
    display: grid;
    flex-direction: row;
  }

  .avg-rating {
    display: grid;
    flex-direction: row;
    color: rgb(57, 57, 57);
    font-weight: bold;
  }
}